.basketWraper {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
  
    margin-left: 45px;
}

.basketWraper button {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 4px;
	padding-left: 8px;
	background-color: #4caf50;
	border: none;
	color: white;
	text-align: center;
	font-size: 16px;
	box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
		inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
		inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
	width: 170px;
	min-height: 35px;

	border: 1px solid #b3b3b3;
	border-radius: 4px;
}

.basketWraper a {
	text-decoration: none;
}
.basketWraper button:hover {
	background-color: #b3b3b3;
	box-shadow: 1px 1px 5px 5px #dfdfdf;
	text-decoration: none;
}
.rezylt {
	width: 650px;
	height: 190px;

	overflow: auto;
	margin-left: 10px;
}
