.mainBasketContainer {
  display: flex;
  flex-direction: row;
  padding: 10px 1px 10px 0px;
  background: #d4e18b;
  padding: 16px;
  box-shadow: 0 0 10px 5px #d4e18b;
  border-radius: 10px;
}

.basket {
  &--productsWrapper {
    width: 550px;
    margin: 5px auto 5px auto;
    background: $white-background;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
  }
  &--spanID {
    width: 10px;
    margin-left: 10px;
  }

  &--spanName {
    height: 22px;
    width: 140px;
    margin-left: 9px;
    margin-right: 30px;
  }
  &--span {
    margin-left: 10px;
    margin-right: 30px;
    width: 45px;
  }
  &--deleteButton {
    margin-left: 30px;

    color: red;
    cursor: pointer;
    display: inline;

    &:hover {
      color: green;
      display: block;
    }
  }
}
