.whoSalepage {
	background-color: antiquewhite;
}
.Wraper {
	padding: 39px;
	@include media-breakpoint-down(md) {
		max-width: 80%;
	}

	.brandImagesWraper {
		// width: 1000px;
		@include align-horizontally-center;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;

		.imageWrapper {
			box-sizing: border-box;
			padding: 4px;
			max-height: 150px;
			// width: auto;
		}
		.active {
			border: 4px solid $orange-dark;
			padding: 0;
		}
	}
	.Range1 {
		margin-top: 5%;
		padding: 20px;
	}
	.calculatorWraper {
		@include align-horizontally-center;

		display: flex;
		flex-direction: column;
		align-items: space-between;
		height: 100%;
		padding: 16px;

		.selectSectionContainer {
			display: flex;
			justify-content: space-between;
			@include media-breakpoint-down(md) {
				flex-direction: column;
				& > * {
					margin-top: 16px;
				}
			}

			.rezConteinerinfo {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 20px;
				margin-left: 30px;
				background: #d4e18b;
				padding: 16px;
				// box-shadow: 0 0 10px 8px #d4e18b;
				border-radius: 4px;
				font-size: 1.1em;
			}

			.checkboxWrapper {
				// margin-top: 10px;
				background: #d4e18b;
				padding: 0 16px 16px 16px;
				// box-shadow: 0 0 10px 5px #d4e18b;
				border-radius: 4px;

				h3 {
					font-family: $headers-font !important;
				}
				p {
					color: $orange-dark;
				}

				label {
					cursor: pointer;
					display: flex;
					font-size: 14px;
					color: #011307;
					padding: 4px;
				}
			}
			.livePurchaseInfo {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				button {
					margin-top: 16px;
					padding-left: 26px;
					padding-right: 40px;
					background-color: $green-primary-button;
					border: none;
					color: white;
					text-align: center;
					text-decoration: none;
					font-size: 16px;
					box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
						inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
						inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);

					min-height: 35px;
					display: flex;
					flex-direction: row;
					border-radius: 2px;
					border: 1px solid #b3b3b3;
					@include align-horizontally-center;

					&:hover {
						background-color: $green-lighter;
						box-shadow: 1px 1px 3px 3px #dfdfdf;
					}

					img {
						height: 100%;
						width: 100%;
					}
					.ButtonImgContainer {
						height: 20px;
						width: 30px;
						padding-right: 12px;
					}
					.BuyButtonText {
						font-size: 16px;
						height: 100%;
						margin-top: auto;
						margin-bottom: auto;
					}
				}

				.promRez {
					// width: 215px;
					// height: 160px;
					background: #d4e18b;
					font-size: 14px;

					padding: 16px;
					// box-shadow: 0 0 10px 8px #d4e18b;
					border-radius: 4px;
					&-header {
						font-size: 16px;
						margin-top: 0px;
						font-family: $headers-font;
						color: $orange-dark;
					}
				}
			}

			.selectWraper {
				// margin: 10px;
				// width: 240px;
				padding: 0 16px 16px 16px;

				display: flex;
				flex-direction: column;
				p {
					margin-top: 0;
					color: $orange-dark;
				}
				.form {
					width: 170px;
					margin-top: 10px;
					margin-left: auto;
					margin-right: auto;
					background: #d4e18b;
					padding: 0px 13px 22px 16px;
					box-shadow: 0 0 10px 5px #d4e18b;
					border-radius: 10px;
				}
				// .select {
				// 	width: 300px;
				// 	height: 50px;
				// }
				.brandSelect {
					width: 240px;
				}
			}
		}
		.calculatorWraperinfo {
			display: flex;
			flex-direction: column;
			align-items: space-between;

			.infoWraper {
				margin-top: 70px;
				display: flex;
				flex-direction: row;

				.rezylt {
					width: 500px;
					height: 190px;
					margin-left: auto;
					margin-right: auto;
					overflow: auto;
					box-shadow: 0 0 10px 6px #d4e18b;
					border-radius: 10px;
					.rezyltError {
						text-align: center;
						margin-top: 15%;
						font-family: $headers-font;
					}
				}
			}

			.calculatorButtonsArea {
				.buttonsArea {
					background-color: rgba(44, 5, 5, 0.7);
					border: 2px solid black;
				}
				.whosaleButtonsArea button {
					margin-top: 32px;
					padding-left: 26px;
					padding-right: 40px;
					background-color: #4caf50;
					border: none;
					color: white;
					text-align: center;
					text-decoration: none;
					font-size: 16px;
					box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
						inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
						inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);

					min-height: 35px;
					display: flex;
					flex-direction: row;
					border-radius: 2px;
					border: 1px solid #b3b3b3;
					margin-left: auto;
					margin-right: auto;
				}
				.whosaleButtonsArea a {
					text-decoration: none;
				}
				.whosaleButtonsArea button:hover {
					background-color: #b3b3b3;
					box-shadow: 1px 1px 5px 5px #dfdfdf;
					text-decoration: none;
				}

				.whosaleButtonsArea .ButtonImgContainer {
					height: 20px;
					width: 30px;
					padding-right: 12px;
				}
				.whosaleButtonsArea img {
					height: 100%;
					width: 100%;
				}

				.whosaleButtonsArea .BuyButtonText {
					font-size: 16px;
					height: 100%;
					margin-top: auto;
					margin-bottom: auto;
				}
			}
		}
	}
}

.checkboxArea {
	input[type="checkbox"] {
		cursor: pointer;
		opacity: 0;
		position: absolute;
		margin: 0;
		width: 16px;
		height: 16px;
	}
}

.checkboxArea label::before {
	content: "";
	width: 1em;
	height: 1em;
	border: 0.05em solid #b3b3b3;
	border-radius: 0.15em;
	margin-right: 0.5em;
}
.checkboxArea label:hover::before,
.checkboxArea input[type="checkbox"]:hover + label::before {
	background: $orange-dark;
}
.checkboxArea label:checked::before,
.checkboxArea input[type="checkbox"]:checked + label::before {
	content: "\002714";
	background: $green-primary-button;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.checkbox-wrapper input[type="checkbox"]:focus + label::before {
	box-shadow: 0 0 5px black;
}
