$sumbnails-width: 108px;
$sumbnails-margin-rigth: 5px;

.image-gallery {
	&-thumbnails-wrapper {
		left: 130px;
		z-index: 1;
		margin-right: $sumbnails-margin-rigth;
		width: $sumbnails-width;
	}
	&-content {
		margin-left: -113px;
	}

	&-image {
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
	}
	.fullscreen {
		.image-gallery-image {
			img {
				max-height: 100vh;
				width: auto;
				@include media-breakpoint-down(md) {
					width: 100%;
				}
			}
		}
		@include media-breakpoint-down(md) {
			position: absolute;
			margin-top: auto;
			margin-bottom: auto;
			top: 0;
			bottom: 0;
			height: fit-content;
			// height: auto;
			// width: 100%;
		}
		// .image-gallery-image {
		// 	img {
		// 		max-height: -webkit-fill-available;
		// 		min-height: initial;
		// 	}
		// }
	}
}
