$hoover-pagin: #e76d8b;

.paginationContainer {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	height: 60px;
	padding-top: 20px;
	list-style-type: none;

	li a {
		color: black;
		outline: none;
		display: block;
		text-decoration: none;
		font-size: 18px;
		text-align: center;
		line-height: 60px;
	}
}
.paginationCells {
	width: 60px;
	height: 60px;
	background-color: #dfdfdf;
	border: 1px solid $green-primary-button;
	border-radius: 5px;
	margin-left: 5px;
	height: 40px;
	width: 40px;
	cursor: pointer;

	&:hover {
		border: 2px solid $orange-dark;
	}
}
.paginationEllipsis {
	background-color: #dfdfdf;
	border: 1px solid $green-primary-button;
	margin-left: 5px;
	border-radius: 5px;
	height: 40px;
	width: 40px;
	a {
		height: 50px;
		width: 100%;
		margin-top: -10px;
	}
	&:hover {
		border: 2px solid $orange-dark;
	}
}
.activePaginationCell {
	background-color: $green-primary-button;
}

.paginationCellLinks {
	height: 50px;
	width: 100%;
	margin-top: -10px;
}
