.Product {
	.sizes {
		font-weight: 250;
		font-size: 14px;
		margin-top: 10px;
		color: $light-font-color;
		margin-top: 0;
		margin-bottom: 5px;
	}
	border: 1px solid black;
	height: 450px;
	width: 300px;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	padding: 20px;

	&-infoWrapper {
		text-align: center;
	}

	&-imageContainer {
		height: 65%;
		position: relative;

		img {
			width: 100%;
			height: 100%;
		}
	}
	p {
		margin-left: auto;
		margin-right: auto;
		font-family: $headers-font !important;
	}

	button {
		padding-left: 26px;
		padding-right: 40px;
		background-color: $green-primary-button;
		border: none;
		color: white;
		text-align: center;
		text-decoration: none;
		font-size: 16px;
		box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
			inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
			inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);

		min-height: 35px;
		display: flex;
		flex-direction: row;
		border-radius: 2px;
		border: 1px solid #b3b3b3;
		@include align-horizontally-center;

		&:hover {
			background-color: $green-lighter;
			box-shadow: 1px 1px 3px 3px #dfdfdf;
		}

		img {
			height: 100%;
			width: 100%;
		}
		.ButtonImgContainer {
			height: 20px;
			width: 30px;
			padding-right: 12px;
		}
		.BuyButtonText {
			font-size: 16px;
			height: 100%;
			margin-top: auto;
			margin-bottom: auto;
		}
	}

	.productName {
		font-weight: bold;
		height: 36px; // TODO remove adter product name change;
		margin-bottom: 5px;
	}
	.price {
		padding: 0px;
		&-discounted {
			text-decoration: line-through;
			text-shadow: red 0 0 3px;
			font-size: 12px;
		}
	}

	.discount {
		text-shadow: green 0 0 3px;
		margin-bottom: 0;
		margin-top: 0;
	}
}
