.filterWrapperDiv {
	display: flex;
	flex-direction: column;
	min-width: 250px;
	position: relative;
	&-footer {
		display: flex;
		justify-content: space-around;

		button {
			background-color: $green-primary-button;
			border: none;
			color: white;
			text-align: center;
			text-decoration: none;
			font-size: 16px;
			box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
				inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
				inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);

			min-height: 35px;
			display: flex;
			flex-direction: row;
			border-radius: 2px;
			border: 1px solid #b3b3b3;
			@include align-horizontally-center;
			padding: 0 20px;
		}
	}
	.close {
		position: absolute;
		right: 30px;
		top: 10px;
		transition: all 200ms;
		font-size: 30px;
		font-weight: bold;
		text-decoration: none;
		color: #333;
		&:hover {
			color: $green-primary-button;
		}
	}
	@include media-breakpoint-down(md) {
		position: absolute;
		width: 100%;
	}

	h3 {
		font-family: $headers-font !important;
	}

	.checkbox-wrapper {
		display: flex;
		align-items: center;

		label {
			cursor: pointer;
			display: flex;
			font-size: 14px;
			color: #4682b4;
		}
	}
	.checkbox-wrapper input[type="checkbox"] {
		cursor: pointer;
		opacity: 0;
		position: absolute;
	}

	.checkbox-wrapper label::before {
		content: "";
		width: 1em;
		height: 1em;
		border: 0.05em solid #b3b3b3;
		border-radius: 0.15em;
		margin-right: 0.5em;
	}
}
.checkbox-wrapper label:hover::before,
.checkbox-wrapper input[type="checkbox"]:hover + label::before {
	background: $orange-dark;
}

.checkbox-wrapper input[type="checkbox"]:checked + label::before {
	content: "\002714";
	background: $green-primary-button;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.checkbox-wrapper input[type="checkbox"]:focus + label::before {
	box-shadow: 0 0 5px black;
}

.categoryFilterWraper {
	background-color: white;
	display: flex;
	flex-direction: column;
	// border-bottom: 1px solid green;
	padding: 30px;

	> * {
		text-decoration: none;
		margin: 5px;
		font-family: $main-font;
	}
}

.brandFilterWraper {
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 30px;
	// border-bottom: 1px solid green;
	> * {
		text-decoration: none;
		margin: 5px;
	}
}

.sizeFilterWraper {
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 30px;
	// border-bottom: 1px solid green;
	> * {
		text-decoration: none;
		margin: 5px;
	}
}
