@import "ShopFilters";
@import "ShelvesProducts";

.shopWrapper {
	display: flex;
	flex-direction: row;
}

.shopHeader {
	padding: 10px 0;
	&-showFilters {
		width: 100%;
		display: block;
		text-align: center;
		background-color: $green-primary-button;
		border: none;
		color: white;
		font-size: 16px;
		min-height: 35px;
		border-radius: 2px;
		border: 1px solid #b3b3b3;
		box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
			inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
			inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
		@include align-horizontally-center;
	}

	.selectFilters {
		display: flex;
		justify-content: space-around;
		margin-bottom: 10px;
		& > * {
			min-width: 220px;
		}
	}
}

.shelvesAndPaginationWrapper {
	display: flex;
	flex-direction: column;
	// width: 65%;
	background-color: white;
	&-hidden {
		visibility: hidden;
	}

	.ShopShelvesDiv {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		height: auto;
	}
}
