.sizesDropdown {
	height: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: fit-content;
	background: $lower-nav;
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
	border-radius: 2px;
	box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
		inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
		inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
	transition: height 1s;

	&-active {
		height: 60px !important;
		height: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: fit-content;
		background: $lower-nav;
		margin-left: auto;
		margin-right: auto;
		max-width: 300px;
		border-radius: 2px;
		box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
			inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
			inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
		transition: height 1s;
		.sizesDropdown-list {
			li {
				visibility: initial;
				transition-delay: 0.2s;
			}
		}
	}
}

.sizesDropdown-list {
	visibility: hidden;
	list-style: none;
	display: flex;
	margin: 0;
	padding: 10px 4px 10px 4px;

	li {
		transition-delay: 0.15s;
		width: 50px;
		height: 40px;
		margin-right: 15px;
		box-sizing: border-box;
		border-radius: 2px;
		border: 1px solid $green-primary-button;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		&:first-child {
			margin-left: 15px;
		}
		&:hover {
			border: 2px solid $orange-dark;
		}
	}
	.active {
		border: 3px solid $orange-dark;
		&:hover {
			border: 3px solid $orange-dark;
		}
	}
}
