.CartIconWrapper {
	display: flex;
	flex-direction: row;
	width: auto;
	padding-left: 20px;
	padding-right: 40px;

	img {
		width: 30px;
		height: 30px;
		margin-top: auto;
		margin-bottom: auto;
	}

	p {
		border-radius: 50%;
		color: white;
		padding-top: 10px;
	}
}

.CartAndMenuContainer {
	display: flex;
	justify-content: space-between;
	height: 60px;
	a {
		padding-right: 0px !important;
	}
	@include media-breakpoint-down(md) {
		padding: 0 !important;
		.CartIconWrapper {
			padding-right: 20px;
		}
		&:hover {
			background-color: initial !important;
		}
		& > div:hover {
			background-color: $green-primary-button;
			// box-shadow: 1px 1px 5px 5px #dfdfdf;
		}
	}
}
