@import "CartIcon";
@import "logo";

.NavbarDiv {
	background: $lower-nav;
	font-family: $headers-font;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li a {
		color: black;
		outline: none;
		display: block;
		// width: 100%;
		height: 100%;
		text-decoration: none;
		font-size: 18px;
		text-align: center;
		line-height: 60px;
		white-space: nowrap;
	}
	&-upper {
		background-color: black;
		ul {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			max-height: 60px;
			@include media-breakpoint-down(md) {
				flex-direction: column-reverse;
				max-height: initial;
			}
			li {
				// padding: 0 30px 0px 30px;
				a {
					padding: 0 30px 0 30px;
					color: white;
				}
				&:hover {
					background-color: $green-primary-button;
					// box-shadow: 1px 1px 5px 5px #dfdfdf;
				}
				// .activeLink {
				// background-color: $green-primary-button;

				// }
			}
			.CartAndMenuContainer {
				a {
					color: $orange-dark;
				}
			}
		}
	}
	&-lower {
		margin-left: 10%;
		width: 80%;
		height: 60px;
		display: flex;
		flex-direction: row;
		@include media-breakpoint-down(md) {
			height: auto;
			flex-direction: column;
			margin-left: 0;
			width: 100%;

			.logoContainer {
				@include align-horizontally-center;
			}
		}

		ul {
			display: flex;
			flex-grow: 1;
			flex-direction: row;
			@include media-breakpoint-down(md) {
				flex-direction: column;
			}
		}

		li {
			text-align: center;
			width: 100%;
			min-width: 115px;
			a:hover {
				background: black;
				color: white;
			}

			.activeLink {
				background-color: black;
				color: white;
			}
		}
	}
}
