.sliderWraper {
	width: 100%;
		height: auto;
  @include media-breakpoint-down(md) {
    width: 90%;
    margin-left: 5%;
   
    
    
  }
  text-align: center;
  
  button {
    color: black;
    height: 390px;
  }

  .SlideBox {
    width: auto;
    padding-left: 15%;
    &-hidden {
      visibility: hidden;
      @include media-breakpoint-down(md) {
    
      padding-left: 5%;
      }
    }
    img {
      width: 330px;
      height: 210px;
      color: #fff9d7;
      padding-left: 0% ;
      position: relative;
      @include media-breakpoint-down(md) {
        width: 100%;
      height: 100%;
      }

    }

}
.price {
  text-decoration: line-through;
  text-shadow: red 0 0 3px;
  width: 90px;
  padding-left: 30% ;

}
.dicond {
  text-shadow: green 0 0 3px;
  width: 90px;
  padding-left: 30% ;
}
}
.preloder {
  margin-left: 510px;
  margin-top: 50px;
  position: fixed;
  left: 1;
  bottom: 10;
  opacity: 0.6;
  @include media-breakpoint-down(md) {
    margin-left: 25%;
    margin-top: 50px;
    position: fixed;
    left: 1;
    bottom: 10;
    opacity: 0.6;
  }

}
