.SideInfo-header {
	.iconContainer {
		height: 50px;
		width: 60px;

		img {
			max-height: 100%;
			max-width: 100%;
		}
	}
	p {
		font-weight: 600;
	}
}

.cart {
	&--footer {
		width: 750px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		padding: 16px;
		@include media-breakpoint-down(md) {
			width: inherit;
		}

		.footer-orderError {
			padding: 16px;
			color: $orange-dark;
		}
		.footerContainer {
			display: flex;
			justify-content: space-between;
		}
		.footer--orderInfo {
			display: flex;
			justify-content: space-between;
			& > * {
				padding: 16px;
			}
		}
		.footer--note {
			padding: 16px;
		}

		.orderBulletpoints > li:last-of-type {
			font-weight: 600;
		}

		.orderBillNumbers {
			list-style: none;
			& > li:last-of-type {
				font-weight: 600;
			}
		}
		.placeOrderButton {
			width: fit-content;
			margin-left: auto;
			margin-right: auto;
			padding: 4px 20px;
			background-color: $green-primary-button;
			border: none;
			color: white;
			text-align: center;
			text-decoration: none;
			font-size: 16px;
			width: auto;
			height: 35px;
			border: 1px solid #b3b3b3;
			border-radius: 2px;
			margin-top: auto;
			margin-bottom: auto;
			@include align-horizontally-center;
			box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
				inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
				inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);

			&:hover {
				background-color: $green-lighter;
				box-shadow: 1px 1px 3px 3px #dfdfdf;
			}
		}
	}
	&--header {
		width: 750px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		display: flex;
		justify-content: space-between;
		@include media-breakpoint-down(md) {
			width: inherit;
		}
		h3 {
			font-family: $headers-font;
		}

		.placeOrderButton {
			// to do place this shit as a utility
			width: fit-content;
			padding: 4px 20px;
			background-color: $green-primary-button;
			border: none;
			color: white;
			text-align: center;
			text-decoration: none;
			font-size: 16px;
			width: auto;
			height: 35px;
			border: 1px solid #b3b3b3;
			border-radius: 2px;
			margin-top: auto;
			margin-bottom: auto;
			box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
				inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
				inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);

			&:hover {
				background-color: $green-lighter;
				box-shadow: 1px 1px 3px 3px #dfdfdf;
			}
		}
	}

	&--SideInfo {
		background: #d4e18b;
		padding: 16px;
		box-shadow: 0 0 10px 5px #d4e18b;
		border-radius: 10px;

		@include media-breakpoint-down(md) {
			display: none;
		}

		.SideInfo-header {
			display: flex;
		}
		.sideOrderInfo {
			display: flex;
			justify-content: space-between;
			& > * {
				padding: 16px;
			}
			.orderBulletpoints > li:last-of-type {
				font-weight: 600;
			}
			.orderBillNumbers {
				list-style: none;
				& > li:last-of-type {
					font-weight: 600;
				}
			}
		}
	}
}
