.mainCartContainer {
	display: flex;
	flex-direction: row;
	background-color: antiquewhite;
	padding: 16px;
	font-family: $headers-font;
}

.cart {
	&--productsAndOrderWrapper {
		flex: 2;
		@include media-breakpoint-down(md) {
			width: 100%;
		}
	}
	&--productsWrapper {
		width: 750px;
		margin: 20px auto 20px auto;
		background: $white-background;
		box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		display: flex;
		flex-direction: column;
		@include media-breakpoint-down(md) {
			width: inherit;
		}
	}
	&--SideInfo {
		background: #d4e18b;
		padding: 16px;
	}
}

.emptyCartWrapper {
	position: relative;
	img {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		top: 0;
		margin: auto;
	}
}
