.formControl  {
    
    &-error input {
        width: 100%;
        border: solid red 2px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 4px;
        border-color: $orange-dark;
    }
}

.formControl.error span{
    color:  red ;

}

.formControlChek  {
    
    &-error input {
        width: 100%;
        border: solid red 2px;
   
        box-sizing: border-box;
        border-radius: 4px;
        border-color: $orange-dark;
    }
}

.formControl.error span{
    color:  red ;

}