@mixin align-horizontally-center {
	margin-left: auto;
	margin-right: auto;
}

@function breakpoint-next($name) {
	$breakpoint-names: map-keys($grid-breakpoints);
	$n: index($breakpoint-names, $name);

	@return if(
		$n < length($breakpoint-names),
		nth($breakpoint-names, $n + 1),
		null
	);
}

@function breakpoint-max($name) {
	$next: breakpoint-next($name);

	@return if($next, breakpoint-min($next) - 1px, null);
}

@function breakpoint-min($name) {
	$min: map-get($grid-breakpoints, $name);

	@return if($min != 0, $min, null);
}
/**
 * Return the breakpoint name with a dash infront. Useful for making responsive utilities
 * @param {String} name - Shortcut name of the breakpoint
 * @returns {String} - The name of the breakpoint with a dash infront, blank string if smallest breakpoint
 */
@function breakpoint-infix($name) {
	@return if(breakpoint-min($name) == null, "", "-#{$name}");
}

@mixin media-breakpoint-up($name) {
	$min: breakpoint-min($name);

	@if $min {
		@media (min-width: $min) {
			@content;
		}
	} @else {
		@content;
	}
}

/**
 * Return the content inside of the media of at at most the maximum breakpoint width. No query for the largest breakpoint
 * @param {String} name - Shortcut name of the breakpoint
 * @returns {Ruleset} - CSS rules passed into the @content
 */
@mixin media-breakpoint-down($name) {
	$max: breakpoint-max($name);

	@if $max {
		@media (max-width: $max) {
			@content;
		}
	} @else {
		@content;
	}
}
