.orderDoneWraper {
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	.whosaleButtonsArea a {
		text-decoration: none;
	}

	background-color: antiquewhite;
	.whosaleButtonsArea button {
		margin-top: 32px;
		padding-left: 26px;
		padding-right: 40px;
		background-color: #4caf50;
		border: none;
		color: white;
		text-align: center;

		font-size: 16px;
		box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
			inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
			inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);

		min-height: 35px;
		display: flex;
		flex-direction: row;
		border-radius: 2px;
		border: 1px solid #b3b3b3;
		margin-left: auto;
		margin-right: auto;
		text-decoration: none;
	}
	.BuyButtonText {
		padding-left: 5%;
		width: auto;
		white-space: nowrap;
	}
	.whosaleButtonsArea button:hover {
		background-color: #b3b3b3;
		box-shadow: 1px 1px 5px 5px #dfdfdf;
		text-decoration: none;
	}
	.doneTextArea {
		text-align: center;
		margin: 5%;
		padding: 1%;
		// box-shadow: 0 0 10px 8px #d4e18b;
		border-radius: 10px;
		width: auto;
		height: auto;
		background: #d4e18b;
	}
}
