.noty {
	&_layout {
		position: fixed;
		top: 2vh; // navbar + padding;
		right: 1vh;
		padding: 0;
	}

	&_bar {
		width: auto;
		position: relative;
		padding: 15px;
		margin-bottom: 8px;
		line-height: 1.3125;
		border-radius: 4px;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.13);
	}

	&_body {
		display: flex;
		justify-content: center;
		white-space: nowrap;
		width: fit-content;
	}

	&_effects_open {
		animation: noty_anim_in 1s;
		animation-fill-mode: forwards;
	}
	&_effects_close {
		animation: noty_anim_out 1s;
		animation-fill-mode: forwards;
	}
	&_type__success {
		color: #4f8a10;
		background-color: #dff2bf;
	}
	&_type__error {
		color: #d8000c;
		background-color: #ffbaba;
	}
	&_type__info {
		color: #9f6000;
		background-color: #feefb3;
	}
}

@keyframes noty_anim_out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes noty_anim_in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
