@import "./scss/cart/variables.scss";
@import "./scss/mixinsAndUtilits/mixins.scss";
@import "./scss/mixinsAndUtilits/utilits.scss";
@import "./scss/variables.scss";
@import url("https://fonts.googleapis.com/css?family=Muli|Nunito|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli|Nunito|Roboto|Rubik&display=swap");
//
@import "./scss/cart/aside.scss";
@import "./scss/cart/cartIndex.scss";
@import "./scss/cart/cartStyles.scss";
@import "./scss/cart/itemStyles.scss";
@import "./scss/navbar/CartIcon.scss";
@import "./scss/navbar/Navbar.scss";
@import "./scss/navbar/logo.scss";
@import "./scss/navbar/MenuIcon.scss";
@import "./scss/noty/noty.scss";
@import "./scss/productDescription/ProductDescription.scss";
@import "./scss/shop/Pagination.scss";
@import "./scss/shop/Gallery.scss";
@import "./scss/shop/ShelvesProducts.scss";
@import "./scss/shop/Shop.scss";
@import "./scss/shop/ShopFilters.scss";
@import "./scss//shop/SizesDropdown.scss";
@import "./scss/About.scss";
@import "./scss/App.scss";
@import "./scss/HomePage.scss";
@import "./scss/paymentAndDelivery.scss";
@import "./scss/orderModal/orderModal.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "./scss/whoSale/BasketItem.scss";
@import "./scss/whoSale/Calculator.scss";
@import "./scss/whoSale/BasketPage.scss";
@import "./scss/slider/slider.scss";
@import "./scss/mixinsAndUtilits/formControl.scss";
@import "./scss/mixinsAndUtilits/orderDone.scss";

body {
	position: relative;
	margin: 0;
	font-family: $main-font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
