.aboutWraper{
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: antiquewhite;

  .aboutTextArea{
    text-align: center;
    margin: 5%;
    padding: 1%;
    box-shadow: 0 0 10px 8px #d4e18b;
    border-radius: 10px;
    width: auto;
    height: auto;
    background: #d4e18b;
  }
}
