.App {
	//background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.2)), url("https://heartbeats.dk/wp-content/uploads/2017/04/shoppe-shoppe.jpg");

	overflow-y: scroll;
	-o-background-size: 70% auto;
	-webkit-background-size: 70% auto;
	-moz-background-size: 35% auto;
	background-size: 100% auto;
	overflow-y: hidden;
	overflow-x: hidden;
}

footer {
	background-color: rgba(220, 220, 220, 0.7);
	width: 100%;
	margin-top: auto;
	margin-bottom: 0;
	min-height: 150px;
	height: fit-content;
	padding: 0;
	display: flex;
	flex-direction: row;

	.socialIconsContainer {
		padding: 40px;
		margin-left: auto;
		margin-right: 0;
		display: flex;
		flex-direction: row;
	}
	.fa {
		opacity: 0.6;
	}

	.fa:hover {
		opacity: 1;
	}

	.fa-facebook {
		font-size: 30px;
		width: 70px;
		height: 52px;
		padding-top: 20px;
		text-align: center;
		text-decoration: none;
		background: #3b5998;
		color: white;
		border-radius: 50%;
	}
	.fa-instagram {
		text-align: center;
		padding-top: 14px;
		font-size: 40px;
		width: 70px;
		height: 58px;
		text-align: center;
		text-decoration: none;
		border-radius: 50%;
		color: #fff;
		background: #d6249f;
		background: radial-gradient(
			circle at 30% 107%,
			#fdf497 0%,
			#fdf497 5%,
			#fd5949 45%,
			#d6249f 60%,
			#285aeb 90%
		);
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
	}
	.fa-telegram {
		//padding-top: 14px;
		font-size: 70px;
		text-align: center;
		text-decoration: none;
		display: inline-flex;
	}
}

.FooterInfo {
	margin-left: 20px;
	padding-top: 1px;
	margin-bottom: auto;
	width: 400px;
	p {
		font-size: 15px;
	}
}
