.HomePage {
	height: 2000px;
}

.homePhotoesWrapper {
	display: flex;

	flex-flow: row wrap;
	justify-content: space-around;
	width: 1200px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	div {
		max-height: 350px;
		min-width: 350px;

		img {
			height: 100%;
			width: 100%;
			-webkit-transform: scale(1);
			transform: scale(1);
			-webkit-transition: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;
		}

		img:hover {
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
	}
}

article {
	// background-color: rgb(220, 220, 220);
	width: 100%;

	padding: 30px 0 30px 0;

	text-align: center;
	h3 {
		font-family: $headers-font;
	}
}

.brandContainer {
	max-width: 80%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 900px;
	height: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
	padding: 16px;

	div {
		max-height: 220px;
		max-width: 220px;
	}
	img {
		height: 100%;
		width: 100%;
	}
}

.HomePageSlider {
	width: auto;
	height: 400px;
	// background-color: rgba(220, 220, 220, 0.4);
	h2 {
		font-family: $headers-font;
		margin: 40px 0 40px 0;
	}

	.slick-prev:before,
	.slick-next:before {
		background-color: white;
		color: #38362c;
	}
}
.HomePageDiscount {
}
