.paymantAndDeliveryWraper {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: antiquewhite;
  .paymantAndDeliverTextArea {
    text-align: center;
    margin-top: 3%;
    padding: 1%;
    box-shadow: 0 0 10px 8px #d4e18b;
    border-radius: 10px;
    width: 80%;

    height: auto;
    background: #d4e18b;
  }
}
