$main-font: "Nunito", sans-serif;
$headers-font: "Rubik", sans-serif;

// colors

$orange-dark: #ff851b;
$green-primary-button: #4caf50;
$green-lighter: #5db760;
$lower-nav: #fff9d7;

//breakpoints
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
);
