.orderModal {
	&-open {
		height: 300px;
		position: fixed;
		background: #d4e18b;
		top: 140px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
		@include align-horizontally-center;
		width: 450px;
		padding: 16px;
		border-radius: 10px;
		transition-timing-function: ease-out;
		opacity: 1;
		transition: 0.25s;
		transform: translateY(0);
	}

	&-closed {
		transform: translateY(130%);
		transition-timing-function: ease-in;
		transition: 0.1s;
		opacity: 0;
		height: 300px;
		width: 450px;
		position: fixed;
		background: #d4e18b;
		top: 140px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		visibility: hidden;
		transition: all 0.5s ease-in-out;
		margin-top: auto;
		margin-bottom: auto;
		@include align-horizontally-center;
	}

	&-header {
		h3 {
			margin-top: 10px;
		}
		.close {
			position: absolute;
			top: 20px;
			right: 30px;
			transition: all 200ms;
			font-size: 30px;
			font-weight: bold;
			text-decoration: none;
			color: #333;
			&:hover {
				color: $green-primary-button;
			}
		}
	}
	&-body {
		form {
			display: flex;
			flex-direction: column;
			.erroMassage {
				font-size: 14px;
				margin-left: auto;
				margin-top: 6px;
			}
			.input {
				width: 100%;
				padding: 12px 20px;
				margin: 8px 0;
				box-sizing: border-box;
				border-radius: 4px;
				&-incorrect {
					width: 100%;
					padding: 12px 20px;
					margin: 8px 0;
					box-sizing: border-box;
					border-radius: 4px;
					border-color: $orange-dark;
				}
			}
			button {
				width: fit-content;
				padding: 4px 20px;
				background-color: $green-primary-button;
				border: none;
				color: white;
				text-align: center;
				text-decoration: none;
				font-size: 16px;
				width: auto;
				height: 35px;
				border: 1px solid #b3b3b3;
				border-radius: 4px;
				margin-top: 16px;
				box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
					inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
					inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
			}
		}
	}
}
