$product-description-height: 650px;

.ProductDescriptionMainWrapper {
	height: auto;
	flex-direction: column;
	background-color: white;
	h3 {
		font-family: $headers-font !important;
	}
}

.ProductDescriptionWrapper {
	display: flex;
	flex-direction: row;
	height: $product-description-height;
	width: 100%;
	@include media-breakpoint-down(md) {
		height: initial;
		flex-direction: column;
		.DescriptionGalleryWrapper {
			width: auto !important;
		}
		.DescriptionSideInfo {
			width: auto !important;
		}
	}

	.pathWrapper {
		display: flex;
	}

	.price-discounted {
		text-shadow: green 0 0 3px;
	}

	.discount {
		text-decoration: line-through;
		text-shadow: red 0 0 3px;
		font-size: 12px;
		margin-top: 0;
		padding-right: 3px;
	}

	.DescriptionGalleryWrapper {
		height: fit-content;
		width: 50%;
	}
	.DescriptionSideInfo {
		height: auto;
		display: flex;
		flex-direction: column;
		background-color: $gentle-backround;

		width: 50%;
		&-header {
			& > * {
				width: fit-content;
				@include align-horizontally-center;
			}
			h3 {
				margin-bottom: 0;
			}
			.path {
				font-size: 14px;
				color: gray;
				cursor: pointer;
				&:hover {
					text-decoration: none;
				}
			}
			.productArticle {
				margin-top: 0;
				font-size: 13px;
				color: gray;
				opacity: 0.7;
			}
		}
		hr {
			width: 80%;
		}
		&-sizesContainer {
			display: flex;
			list-style: none;
			li {
				width: 50px;
				height: 40px;
				margin-right: 15px;
				box-sizing: border-box;
				border-radius: 2px;
				border: 1px solid black;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				&:hover {
					border: 2px solid $green-primary-button;
				}
			}
			.active {
				border: 3px solid black;
			}
			.notAvailable {
				border: 1px solid black;
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: 0.4;
				cursor: pointer;
				&:hover {
					border: 1px solid black;
				}
			}
		}
		.toCartButton {
			background-color: $green-primary-button;
			border: none;
			color: white;
			text-align: center;
			text-decoration: none;
			font-size: 16px;
			width: 70%;
			height: 35px;
			border-radius: 2px;
			@include align-horizontally-center;
			box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
				inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
				inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);

			&:hover {
				background-color: $green-lighter;
				box-shadow: 1px 1px 3px 3px #dfdfdf;
			}
		}
	}
	.DescriptionSideInfo > * {
		margin-bottom: 15px;
		width: fit-content;
		@include align-horizontally-center;
	}
}

.ProductDescriptionInfo {
	max-width: 100%;
	padding: 15px 30px;
	background-color: #f8de7e;
}
// .ProductDescriptionRecommendations {
// 	background-color: lightblue;
// 	min-height: 250px;
// 	width: 100%;
// }
